/* General page styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.25s, color 0.25s;
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* Main content styles */
main {
    width: 60%;
    text-align: left;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

p, ul {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* From Uiverse.io by rishichawda */ 
/* The switch - the box around the slider */
#theme-toggle-button {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 7em;
    cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
    fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
    transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
    opacity: 1;
}

#toggle:checked + svg #sun {
    opacity: 0;
}

#moon {
    opacity: 0;
}

#toggle:checked + svg #moon {
    opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
    opacity: 1;
}

#toggle:checked + svg #cloud {
    opacity: 0;
}

#stars {
    opacity: 0;
}

#toggle:checked + svg #stars {
    opacity: 1;
}

/* Dark mode styles */
.dark-mode {
    background-color: #06090d;
    color: #e0e0e0;
}

.dark-mode h2 {
    color: #fcf4b9;
}

.dark-mode ul {
    color: #e0e0e0;
}
